<aside class="sidebar">
  <div class="logo">
  <img src="assets/icons/icone-menu.png" class="logo-icon-img" alt="" />
  <h2>Menu</h2>
</div>

  <nav class="nav-menu">
    <a routerLink="/tela-inicial" routerLinkActive="active" class="nav-item">
      <img src="assets/icons/icone-casa.png" class="nav-icon-img" alt="" />
      <span class="label">Início</span>
    </a>
    <a routerLink="/agenda" routerLinkActive="active" class="nav-item">
      <img src="assets/icons/icone-calendario.png" class="nav-icon-img" alt="" />
      <span class="label">Agenda</span>
    </a>
    <a routerLink="/clientes" routerLinkActive="active" class="nav-item">
  <img src="assets/icons/icone-clientes.png" class="nav-icon-img" alt="" />
  <span class="label">Clientes</span>
</a>
<a routerLink="/servicos" routerLinkActive="active" class="nav-item">
  <img src="assets/icons/icone-servicos.png" class="nav-icon-img" alt="" />
  <span class="label">Serviços</span>
</a>
<a routerLink="/financeiro" routerLinkActive="active" class="nav-item">
  <img src="assets/icons/icone-financas.png" class="nav-icon-img" alt="" />
  <span class="label">Finanças</span>
</a>
    <a routerLink="/metas" routerLinkActive="active" class="nav-item">
      <img src="assets/icons/icone-metas.png" class="nav-icon-img" alt="" />
      <span class="label">Metas</span>
    </a>
  </nav>

  <div class="sidebar-footer">
  <a routerLink="/login" class="nav-item logout" (click)="sair()">
    <img src="assets/icons/icone-sair.png" class="nav-icon-img" alt="" />
    <span class="label">Sair</span>
  </a>
</div>
</aside>
