<header class="top-bar-verde">
  <div class="brand-logo">
    <span class="icon">📅</span>
    <h2>MeuFluxo</h2>
  </div>

  <div class="top-bar-right">
    <div class="search-input">
      🔍 <input type="text" placeholder="Buscar..." />
    </div>
    <span class="icon-btn">🔔</span>
    <div class="user-pill">
      <img src="https://i.pravatar.cc/100" class="user-avatar-img" alt="Avatar" />
      <span>Nicole</span>
      <small>▼</small>
    </div>
  </div>
</header>

<div class="app-body">
<app-menu-lateral></app-menu-lateral>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
